/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>



    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";

            bindings = <
&kp TAB    &kp Q         &kp W   &kp E         &kp R     &kp T     &kp Y      &kp U      &kp I     &kp O       &kp P  &kp P
&kp CAPS   &kp A         &kp S   &kp D         &kp F     &kp G     &kp H      &kp J      &kp K     &kp L      &kp RET    &kp LSHFT
&kp Z      &kp X         &kp C   &kp V         &kp B     &kp N     &kp M      &kp COMMA  &kp DOT   &kp RSHFT  &kp LCTRL  &kp LALT &kp P
&kp LEFT_COMMAND   &ltq 1 SPACE  &to 3   &ltq 2 SPACE  &kp RIGHT_COMMAND  &kp RALT 
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
            label = "Qwery";
        };
    };
};
